.navbarCss{
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  z-index: 100;
}
  
.imgSize{
  height: 80px;
}
  
.sections{
  display: flex;
  justify-content: flex-end;
} 

.nav-item{
  color: grey;
  text-transform: uppercase;
  font-weight: bold;
}

.lista{
  padding-top: 110px;
}

.lista ul{
  list-style-type: none;
  background-color: #f2ecec;
}

.lista ul li{
  float: left;
  text-align: center;
}

.btn-search{
  background-color: #E58B96;
}

.toggle{
  background-color: #f87171;
}
.toggle :hover {
  background-color: #dc2626;
}